body {
  margin: 0%;
}

/* Navbar*/

.navigation-bar {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: inline;
  width: 100%;
  background-color: grey;
  display: block;
}

.navigation-bar a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  padding-left: 20px;
}

.navigation-bar a:hover{
  text-decoration: underline;
}

/* Tables*/

.tb-example table, td, th {
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}

.tb-example table{
  width: 80%;
  margin: 0 auto; /* or margin: 0 auto 0 auto */

}

.tb-example th{
  color: white;
  background-color: blue;
}

.tb-example h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
}

.tb-2-h1{
  margin-top: 40px;
}

.site-footer{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: grey;
  height: 50px;
  margin-top: 100px;
}

.site-footer p{
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
